{% extends 'base.html' %}
{% block content %}

<div class = "main">
<h1>Tambah Todolist</h1>  

        <form method="POST" >  
            {% csrf_token %}  
            <table>  
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                    <td><input type="submit" name="submit" value="Done" class="btn btn-outline-info btn-sm"/></td>  
                </tr>  
            </table>  
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        $('form').submit(function (event) {
          const formData = {
            csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
            title: $('#title').val(),
            description: $('#description').val(),
          };
    
          $.ajax({
            type: 'POST',
            url: '/todolist/post-ajax',
            data: formData,
            dataType: 'json',
            encode: true,
          }).done(function (data) {
            $('#message').text(data.message);
          });
    
          event.preventDefault();
        });
      });
    </script>


    <style>
        .main{
            background: linear-gradient(#51a18d, #5b8ce9);
            font-style: oblique;
        }
    </style>
{% endblock content %}