{% extends 'base.html' %}

{% block content %}
<h5>Nama: </h5>
<b>{{user}}</b>

<table border="3">
    <tr>
    <th>Date</th>
    <th>Title</th>
    <th>Description</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for todo in list_todo %}
    <tr>
        <th>{{todo.date}}</th>
        <th>{{todo.title}}</th>
        <th>{{todo.description}}</th>
    </tr>
{% endfor %}
</table>
<h5>Sesi terakhir login: {{ last_login }}</h5>
<button><a href="{% url 'todolist:create_task'%}">Create Task</a></button>
<button><a href="{% url 'todolist:logout_user' %}">Logout</a></button>


{% endblock content %}