{% extends 'base.html' %}

{% block content %}
<div class="main"> 
<h5>Nama: {{user}}</h5>

    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for todo in list_todo %}

    <div class="col">
      <div class="col-sm-6">
        <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{todo.title}}</h5>
            <p class="card-body">Here's the detail : {{todo.description}}</p>
            <p class="card-body">Task is finished: {{todo.is_finished}}</p>
            <p class="card-body">Date created: {{todo.date}}</p>
            <a href="#" class="btn btn-outline-light btn-sm"><form action="/todolist/update-task/{{todo.id}}/" method = "POST">{% csrf_token %}
              <input type="submit" value="Update status">
              </form>
              
            <a href="#" class="btn btn-outline-danger btn-sm"><form action="/todolist/delete-task/{{todo.id}}/" method = "POST">{% csrf_token %}
              <input type="submit" value="Delete">
            </form>  </a>
          </div>
        </div>
      </div>
    </div>
   
{% endfor %}

<h5>Sesi terakhir login: {{ last_login }}</h5>
<button><a href="{% url 'todolist:create_task'%}" class="btn btn-outline-info btn-sm">Create Task</a></button>
<button><a href="{% url 'todolist:logout_user' %}" class="btn btn-outline-danger btn-sm">Logout</a></button>

</div> 
<style>
  .main{
    background: linear-gradient(#51a18d, #5b8ce9);
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
  }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>

    $(document).ready(function(){
      $.get("/todolist/json", function(data) {
        data.map((each) =>
            $('#table').append(`<tr>
        <td>${each.fields.title}</td>
        <td>${each.fields.description}</td>
        </tr>`)
        );
        });
    });
    
  

    
</script>


{% endblock content %}

