{% extends 'base.html' %}

 {% block content %}

  <h1>Lab 1 Assignment PBP/PBD</h1>

  <h5>Name: </h5>
  <p>Muhammad Tarreq Maulana</p>

  <h5>Student ID: </h5>
  <b>2106750704</b>

  <table>
    <tr>
      <th>Watched</th>
      <th>Title</th>
      <th>Rating</th>
      <th>Release Date</th>
      <th>Review</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for movies in movies_list %}
    <tr>
      <th>{{movies.watched}}</th>
      <th>{{movies.title}}</th>
      <th>{{movies.rating}}</th>
      <th>{{movies.release_date}}</th>
      <th>{{movies.review}}</th>
    </tr>
    {% endfor %}

  </table>

 {% endblock content %}
